* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  overflow-x: hidden;
}
.btn {
  color: white;
  padding: 4px 14px;

  background-color: red;
  border-radius: 12px;
  border: none;
}
header {
  margin-top: 30px;
}
.subheader {
  margin-top: 30px;
  align-items: center;
  width: 85vw;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.img1 {
  width: 100px;
}
.firstmain {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  background-color: white;
  height: 80vh;
}
.same {
  display: flex;

  justify-content: center;
  flex-direction: column;
  width: 45vw;
  height: 80vh;
}
.btn1 {
  background-color: white;
  color: black;
  border: 1px solid rgb(172, 172, 172);
  font-weight: 400;
}

.btn11 {
  border: 1px solid rgb(232, 112, 0);
  background-color: rgb(232, 112, 0);
  color: white;
  border: none;
}
.btns {
  width: 90px;
  border: none;
  border-radius: 15px;
  padding: 5px 14px;
}
.btn2 {
  background-color: rgb(232, 112, 0);
}
.btn22 {
  width: 110px;
  color: rgb(232, 112, 0);
}
.buttons {
  margin-top: 23px;
  width: 100vw;
}
.scores {
  margin-top: 20px;
  display: flex;
}
.bold {
  font-weight: 800;
}
.small {
  margin-top: 4px;
  font-size: 9px;
  font-weight: 400;
}
.thrity {
  width: 110px;
}
.para1 {
  margin-top: 13px;
}
.life {
  color: orangered;
}
.cng {
  margin-top: 4px;
}
.gymer {
  width: 500px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 10px;
}
.Secondcont {
  display: flex;
  justify-content: center;
}
.secondmain {
  width: 100vw;
  height: 60vh;
  display: flex;
}
.sec {
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
  margin: auto;
  height: 60vh;
  background-color: white;
}
.img3 {
  width: 500px;
  border-radius: 10px;
}
.secdfist {
  margin-left: 60px;
}
.grid {
  width: 20px;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.griditm {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 14vw;
}
.btnsee14 {
  width: 100px;
  padding: 5px 8px;
  background-color: rgb(232, 112, 0);
  color: white;
  border: 1px solid transparent;
  margin-top: 15px;
  border-radius: 15px;
}
.ballimg {
  border-radius: 10px;
  border: 1px solid transparent;
  width: 500px;
  margin: auto;
}
.thirdmain {
  display: flex;
  width: 100vw;
  height: 50vw;
}
.thirdfst {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  flex-direction: column;
}

.same5 {
  box-sizing: border-box;
  width: 45vw;
  margin: auto;
  height: 80vh;
  background-color: white;
}
.thirdfsnd {
  padding-top: 65px;
}
.newh {
  width: 30vw;
}
.contus {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
#too {
  margin-left: 25px;
  font-size: 12px !important;
}
.paras {
  margin-top: 17px;
}

.fstfooter {
  margin-top: -10px;
  display: flex;
  width: 100vw;
  height: 70vh;
  background-color: white;
}
.itemsftr {
  width: 29.5vw;
  margin: auto;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 13px;
  padding: 15px;
}
.lst {
  margin-bottom: 6px;
}

#fre {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.lastftr{
  width: 80vw;
  margin: auto;
  font-weight:400 ;
  /* border: 1px solid rgb(116, 116, 116); */
  height: 50px;
  /* padding: 10px; */
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

hr{
width: 80vw;
margin: auto;
  color: black;
  height: 1.2px;
 margin-bottom: 20px;
 background-color: black;
}


